span.hiWrap {
  font-family: Marcellus;
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

p.aboutText {
  margin-bottom: 20px;
}

div.aboutImgWrap {
  > img {
    display: inline-block;
    width: 100%;
  }
}
