@import '../../styles/variables.scss';

div.homeWrap {
  background-color: $light;
  min-height: 100vh;
}

div.homeIntroWrap {
  position: fixed;
  bottom: 35vh;
  margin-left: 15%;
  > p {
    margin: 10px 0 20px 0;
  }
}

div.homeRight {
  width: 60%;
  min-height: 100vh;
  margin-left: auto;
}

div.logoWrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  > img {
    opacity: 0.075;
    width: 375px;
    display: inline-block;
  }
}
