@import '../../styles/variables.scss';

div.homeWrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  z-index: 300;
}

div.homeWrapInner {
  display: flex;
  position: relative;
}

div.homeNavWrap {
  margin-left: 15%;
  min-width: 305px;
  margin-top: 15%;
}

div.homeNavWrapInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  > h3 {
    margin-bottom: 10px;
    overflow: hidden;
  }

  > p {
    overflow: hidden;
    margin-bottom: 20px;
  }

  > span {
    overflow: hidden;
  }
}
