div.email_wrap {
  min-width: 10%;
  max-width: 10%;

  > a {
    transition: all 0.2s ease;
    transform: rotate(90deg) translate(-50%, 50%);
    transform-origin: bottom;
    &:hover {
      transform: scale(1.1) rotate(90deg) translate(-50%, 50%);
    }
  }
}

div.social_nav_wrap {
  min-width: 10%;
  max-width: 10%;
  height: 100vh;

  > a {
    transition: all 0.2s ease;
    transform-origin: bottom;
    &:hover {
      transform: scale(1.2);
    }
  }
}
