@import '../../styles/variables.scss';

div.transitionViewWrap {
  position: relative;
  background-color: $light;
}

div.logoWrap {
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    opacity: 0.075;
    width: 375px;
    display: inline-block;
  }
}
