@import './reset.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 120 138;
    --color-primary-2: 0 120 138;
    --color-secondary: 234 114 0;
    --color-secondary-2: 243 144 29;
    --color-highlight: 255 215 130;
    --color-danger: 185 28 28;
    --color-foreground: 26 25 25;
    --color-background: 250 249 247;
    --font-primary: Montserrat, sans-serif;
    --box-shadow-mat: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
