@import './reset.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 168 85 247;
    --color-secondary: 192 38 211;
    --color-foreground: 26 25 25;
    --color-background: 250 249 247;
    --font-primary: Montserrat, sans-serif;
    --box-shadow-mat: 0 1px 3px rgb(26 25 25 / 0.12),
      0 1px 2px rgb(26 25 25 / 0.12);
  }
}
