@import '../../styles/variables.scss';

div.baseViewWrap {
  background-color: $light;
  min-height: 100vh;
}

div.baseViewLeft {
  position: fixed;
  bottom: 35vh;
  margin-left: 15%;
}

div.baseViewRight {
  width: 60%;
  min-height: 100vh;
  margin-left: auto;
}
