@import '../../styles/mixins.scss';

div.layoutWrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  z-index: 300;
}

div.layoutWrapInner {
  display: flex;
  flex-direction: column;
  position: relative;
  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

div.pageContentLeft {
  flex: 1;
  transition: all 0.2s ease;
  padding-top: 30vh;
  @include for-tablet-landscape-up {
    flex: 0.85;
  }
}

div.navWrap {
  margin-bottom: 30px;
}

div.navWrap,
div.pageContentLeftInner {
  position: relative;
  left: 0;
  padding: 0 15%;
  @include for-tablet-landscape-up {
    left: 30%;
    padding: 0;
  }
}

div.pageContentLeftInner {
  @include for-tablet-landscape-up {
    max-width: 275px;
  }
}

div.pageContentRight {
  flex: 1;
  transition: all 0.2s ease;
  padding-top: 10vh;
  @include for-tablet-landscape-up {
    padding-top: 20vh;
  }
}

div.pageContentRightInner {
  padding: 0 15%;
  @include for-tablet-landscape-up {
    padding: 0 15% 0 5%;
  }
}
