@import './styles/colors.scss';

main.appWrap {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

div.logoWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  display: flex;
  align-items: center;
  right: 15%;
  width: 25%;
  min-width: 375px;
  animation: fadeInLogo 2s forwards;
  img {
    width: 100%;
    display: inline-block;
  }
}

div.socialNavWrap {
  position: absolute;
  z-index: 400;
  top: 1rem;
  right: 0;
  span {
    font-weight: bold;
    margin-right: 1rem;
    &.socialNavSlash {
      margin: 0 0.5rem;
    }
  }
  > a {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
    position: relative;
    &:after {
      content: '';
      background: $dark;
      position: absolute;
      left: 0;
      right: 8px;
      bottom: -4px;
      height: 3px;
      opacity: 0;
    }
    &.activeLink:after {
      opacity: 1;
    }
    &:not(.activeLink) {
      &:hover,
      &:focus {
        &:after {
          display: inline-block;
          animation: shortenFade 0.5s forwards;
        }
      }
    }
  }
}

@keyframes shortenFade {
  from {
    opacity: 0;
    right: -8px;
  }
  to {
    opacity: 1;
    right: 8px;
  }
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}
