@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

div.contactWrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  z-index: 300;
}

div.contactWrapInner {
  display: flex;
  flex-direction: column;
  position: relative;
  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

div.contactFormWrap {
  > h2 {
    margin-bottom: 0.5rem;
  }
}
