@import '../../styles/variables.scss';

div.contactWrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  z-index: 300;
}

div.contactWrapInner {
  display: flex;
  position: relative;
}

div.contactNavWrap {
  margin-left: 15%;
  min-width: 305px;
  margin-top: 30vh;
}

div.contactBlurbWrap {
  width: 275px;
  margin-top: 30px;
}

div.contactFormWrap {
  margin-top: 5%;
  flex: 1;
  padding: 3rem 6rem 0 6rem;
  > h2 {
    margin-bottom: 0.5rem;
  }
}
