@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

div.projectWrap {
  margin: 3rem 0;
  &:hover {
    > a > h2 {
      transform: skew(-8deg);
    }
  }
  > a {
    > h2 {
      margin-bottom: 0.5rem;
      transition: transform 0.2s ease;
      transform-origin: bottom left;
    }

    > img {
      width: 100%;
    }
  }
}
