@import '../../styles/variables.scss';

div.workWrap {
  min-height: 100vh;
}

div.workIntroWrap {
  width: 275px;
  position: absolute;
  top: 35vh;
  margin-left: 15%;

  > h3 {
    margin-bottom: 20px;
  }

  > p {
    margin-top: 10px;
    line-height: 20px;
  }
}
