@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

div.projectWrap {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &:hover {
    > a > h2 {
      transform: skew(-8deg);
    }
  }
  > a {
    > h2 {
      margin-bottom: 0.5rem;
      transition: transform 0.2s ease;
      transform-origin: bottom left;
    }

    > img {
      width: 100%;
    }
  }
}

h4.typeHeader {
  margin-bottom: 10px;
}
