@import 'app/assets/scss/variables';

.homeContainer {
    position: relative;
    background-color: $background;
    min-height: 100vh;
}
.landingContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.ctaContainer {
    position: relative;
    z-index: 800;
}
.faceContainer {
    top: -4.5rem;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionHeaderContainer {
    text-align: center;
    margin-bottom: $spacing-md;
}
.aboutContainer {
    position: relative;
    z-index: 800;
    background-color: $offwhite;
    display: flex;
}
.aboutPhotoContainer,
.aboutBioContainer {
    display: inline-block;
    width: 50%;
}
.aboutPhoto {
    width: 100%;
    display: block;
    border: 3rem solid $white;
}
.aboutBioContainer {
    padding: $spacing-xl;
}
.projectsContainer {
    padding: $spacing-xl 0;
    background-color: $gray;
    min-height: 100vh;
    position: relative;
}
.aboutScrollMark,
.projectsScrollMark {
    position: absolute;
    top: -70px;
}
.skillsContainer {
    background: $white;
    padding: $spacing-xl;
}
.toolImagesContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.toolIconContainer {
    flex: 1 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-lg;
}
.toolImageWrapper {
    max-width: 100px;
}
.getInTouchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-lg 0;
    height: 500px;
}
.getInTouchCtaContainer {
    width: 65%;
    margin: 0 auto;
    border: 2px solid darken($background, 5%);
    padding: $spacing-xl;
}
.bioSection {
    margin: $spacing-md 0;
}
.contactToggle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0,0,0,0);

    &.visible {
        opacity: 1;
        background-color: rgba($background, 0.6);
        z-index: 900;
    }
}