@import 'app/assets/scss/variables';

.homeContainer {
    position: relative;
    background-color: $background;
    min-height: 100vh;
}
.landingContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.ctaContainer {
    position: relative;
    z-index: 800;
}
.faceContainer {
    top: -4.5rem;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionHeaderContainer {
    text-align: center;
    padding: $spacing-lg 0;
}
.aboutContainer {
    position: relative;
    z-index: 800;
    background-color: $offwhite;
    display: flex;
}
.aboutPhotoContainer,
.aboutBioContainer {
    display: inline-block;
    width: 50%;
}
.aboutPhoto {
    width: 100%;
    display: block;
    border: 3rem solid $white;
}
.aboutBioContainer {
    padding: $spacing-lg;
}
.projectsContainer {
    background-color: $gray;
    min-height: 100vh;
    position: relative;
}
.aboutScrollMark,
.projectsScrollMark {
    position: absolute;
    top: -60px;
}
.skillsContainer {
    background-color: $background;
}
.toolImagesContainer {
    padding: $spacing-lg;
    flex-wrap: wrap;
    display: flex;
}
.toolIconContainer {
    flex: 1;
    width: 100px;
}