@import '../../styles/colors.scss';

div.navWrapInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  position: sticky;
  z-index: 100;
  background-color: rgba($light, 0.75);
  backdrop-filter: blur(2px);

  > p {
    margin-bottom: 20px;
  }
}

div.nav {
  > a {
    margin-right: 1rem;
    position: relative;
    &:after {
      content: '';
      background: $dark;
      position: absolute;
      left: 0;
      right: 8px;
      bottom: -4px;
      height: 3px;
      opacity: 0;
    }
    &.activeLink:after {
      opacity: 1;
    }
    &:not(.activeLink) {
      &:hover,
      &:focus {
        &:after {
          display: inline-block;
          animation: shortenFade 0.5s forwards;
        }
      }
    }
  }
}

@keyframes shortenFade {
  from {
    opacity: 0;
    right: -8px;
  }
  to {
    opacity: 1;
    right: 8px;
  }
}
