@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

div.navWrap {
  position: relative;
  min-height: 91px;
  padding: 0 10%;
  box-sizing: initial;
  @include for-tablet-landscape-up {
    padding: 0 0 0 30%;
  }
}

div.navPlaceholder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

div.navWrapInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 100;
  padding-top: 20px;
  min-width: 305px;
  position: relative;
  transition: all 0.2s ease;

  > p {
    margin-bottom: 20px;
  }

  &.navFixed {
    background-color: rgba($light, 0.85);
    backdrop-filter: blur(3px);
    position: fixed;
    top: -1px;
    width: 100%;
  }
}

div.nav {
  > a {
    margin-right: 1rem;
    position: relative;
    &:after {
      content: '';
      background: $dark;
      position: absolute;
      left: 0;
      right: 8px;
      bottom: -4px;
      height: 3px;
      opacity: 0;
    }
    &.activeLink:after {
      opacity: 1;
    }
    &:not(.activeLink) {
      &:hover,
      &:focus {
        &:after {
          display: inline-block;
          animation: shortenFade 0.5s forwards;
        }
      }
    }
  }
}

@keyframes shortenFade {
  from {
    opacity: 0;
    right: -8px;
  }
  to {
    opacity: 1;
    right: 8px;
  }
}
