@import '../../styles/variables.scss';

div.aboutWrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  z-index: 300;
}

div.aboutWrapInner {
  display: flex;
  position: relative;
}

div.aboutNavWrap {
  margin-left: 15%;
  min-width: 305px;
  margin-top: 30vh;
}

div.aboutBlurbWrap {
  width: 275px;
  margin-top: 30px;
}
