div.navigatorWrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
}

div.navigatorInner {
  margin-top: -25vh;
}

div.navigatorListWrap {
  margin-top: 1rem;
}

div.navigatorListItem {
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 20px;
}
