@import '../../styles/variables.scss';

div.navigatorWrap {
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  padding: 2rem 7% 2rem 5%;
  display: flex;
  background-color: rgba(#fff, 1);
  white-space: nowrap;
  z-index: 100;
  border-radius: $border-radius;
  max-width: 35%;
}

div.navigatorListWrap {
  margin-top: 2rem;
  > h1 {
    cursor: pointer;
    margin-bottom: 2rem;
    transform-origin: left;
    font-weight: normal;
    > span.linkBorder {
      font-size: 4vw;
      > span {
        &:first-child {
          font-size: 3vw;
          position: relative;
          top: 15px;
        }
      }
    }
  }
}

span.linkBorder {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: rgba(#000, 0);
    content: '';
    transition: width 1s ease, background-color 0.5s ease;
  }
  > span {
    display: inline-block;
    transition: transform 0.75s ease, letter-spacing 1s ease;
    transform-origin: left;
    transform: scale(1);
    font-size: inherit;
    letter-spacing: 0.15rem;
  }
}

div.navigatorListWrap > h1:hover > span.linkBorder,
div.navigatorListItem:hover > span.linkBorder,
div.navigatorListWrap h1.active > span.linkBorder,
div.navigatorListItem.active > span.linkBorder {
  &:after {
    width: 40%;
    background-color: rgba(#000, 1);
  }
  > span {
    transform: scale(1.1);
  }
  > span.pageLink {
    letter-spacing: 0.35rem;
  }
}

div.navigatorListItem {
  cursor: pointer;
  padding: 0.25rem 0;
  margin-bottom: 1rem;
  font-size: 2vw;
}
