div.navigatorWrap {
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  background-color: rgba(#fff, 1);
  width: 35%;
  white-space: nowrap;
  z-index: 1;
}

div.navigatorInner {
  margin-top: -25vh;
}

div.navigatorListWrap {
  margin-top: 1rem;

  > h1 {
    cursor: pointer;
  }
}

div.navigatorListItem {
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 20px;
}
