@import '../../styles/variables.scss';

div.projectViewWrap {
  padding: 6rem 15%;
  position: relative;
  z-index: 300;
}

div.backBtnWrap {
  margin-bottom: 1rem;
  display: inline-block;
  > a {
    cursor: pointer;
    > svg {
      margin-right: 0.5rem;
    }
    &:hover {
      > svg {
        display: inline-block;
        animation: 0.5s ease forwards slideRight;
      }
    }
  }
}

span.roles {
  display: inline-block;
  margin-bottom: 30px;
}

h3.projectBlurb {
  margin: 30px auto 20px auto;
  width: 85%;
}

div.projectDetailsWrap {
  margin: 30px auto 20px auto;
  width: 85%;
  h4 {
    border-bottom: 2px solid $dark;
    display: inline-block;
    margin-bottom: 10px;
  }
  > div {
    margin-bottom: 30px;
  }
}

div.linksWrap {
  > a {
    display: block;
    margin-bottom: 5px;
  }
}

div.projectImgWrap {
  margin-bottom: 3rem;
  > img {
    width: 100%;
  }
}

p.sectionText {
  margin-bottom: 20px;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(150%) scale(1.8);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
