@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

a.nav_link {
  margin-right: 1rem;
  position: relative;
  &:after {
    content: '';
    background: rgb(var(--color-secondary));
    position: absolute;
    left: 0;
    right: 8px;
    bottom: -4px;
    height: 3px;
    opacity: 0;
  }
  &.active_link:after {
    opacity: 1;
  }
  &:not(.active_link) {
    &:hover,
    &:focus {
      &:after {
        display: inline-block;
        animation: shortenFade 0.5s forwards;
      }
    }
  }
}

@keyframes shortenFade {
  from {
    opacity: 0;
    right: -8px;
  }
  to {
    opacity: 1;
    right: 8px;
  }
}
