@import '../../styles/variables.scss';

div.resumeImgWrap {
  > img {
    box-shadow: $box-shadow;
    width: 100%;
    display: inline-block;
    border-radius: $border-radius;
  }
}

div.downloadBtnWrap {
  margin-top: 30px;
}
