@import '../../styles/variables.scss';

div.resumeWrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  z-index: 300;
}

div.resumeWrapInner {
  display: flex;
  position: relative;
}

div.resumeNavWrap {
  margin-left: 15%;
  min-width: 305px;
  margin-top: 30vh;
  position: sticky;
  top: 0;
}

div.resumeNavWrapInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  position: sticky;
  z-index: 100;
  > h3 {
    margin-bottom: 20px;
  }
}

div.resumeBlurbWrap {
  width: 275px;
  margin-top: 30px;
}

div.resumeImgWrap {
  margin-top: 5%;
  padding: 3rem 6rem 0 6rem;
  > img {
    box-shadow: $box-shadow;
    width: 100%;
    display: inline-block;
    border-radius: $border-radius;
  }
}

div.downloadBtnWrap {
  margin-top: 30px;
}
